<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" type="image/png" href="/css/etoile.ico" sizes="16x16"/>
        <link rel="stylesheet" href="/css/structure.css" />
        <title> {{title}}</title>
    </head>
    <body class="monBody">
        <div id="container">
            <div id="header">
                <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars" /> </div>
            </div>
            <div class="menu_haut">
              <ul>
                <li><a href="/accueil">ACCUEIL</a></li>
                <li class="traitVertical"><a href="/repertoire">REPERTOIRE DES STARS</a></li>
                <li class="traitVertical"><a href="/album">ALBUM PHOTO</a></li>
                <li class="traitVertical"><a href="/articles">ARTICLES</a></li>
                <li class="traitVertical"><a href="/test">TEST</a></li>
              </ul>
            </div>
            <div id="contenu">
                <br/>
                <br/>
                {{{body}}}
            </div>
            <div id="footer">
                L'encyclopédie des stars depuis février 2017 (en NodeJS)
                <br />
                © IUT du Limousin DUT Informatique année 2
                <br />
                Appllication réalisée par ...... (mettre vos noms)
                <br />
                <img src="/images/nodejs.png" id= "LogoNode" alt="Logo NodeJs" title="Logo Node.JS" />
            </div>
        </div>
        <script src="/js/jquery.js"></script>
        <script src="/js/lightbox.js"></script>
    </body>
</html>
