<div class="contenu_interne">

     <p align="center"><img alt="404 Not Found" src="/images/notFound.jpeg"/></p>  <br/>
     <p align="center" ><a href="/accueil" class="lienNotFound"> Retour à la page d'accueil</a></p>


</div>
