<h1> Simple test à supprimer</h1>
Il y a actuellement {{nbVip.0.NB}} vips dans la base
<br />
Il y a actuellement {{nbVip2.NB}} vips dans la base
<br />





{{#each nbVip}}
<div>
  {{lookup ../nbVip2 @index}} {{this.NB}}
</div>
{{/each}}
